.notes {
  padding: 20px;
}

.notes__title {
  font-size: 2rem;
  text-align: center;
}

.notes__controls {
  max-width: 600px;
  margin: 20px auto;
}

.notes__list-container {
  margin: 20px auto;
}

.notes__form-container {
  margin: 20px auto;
  max-width: 600px;
}

.notes__list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

  list-style: none;
}

.note {
  flex: 0 0 320px;
  margin: 10px;
  padding: 20px;

  border-radius: 10px;
  background-color: #ececec;
}

.note__title {
  font-size: 1.2rem;
}

.note__content {
  text-align: justify;
}

.btn {
  padding: 10px;

  border: none;
  border-radius: 5px;
  cursor: pointer;

  transition: all 0.2s linear;
}

.btn--edit {
  background-color: #c3c3c3;
}

.btn--edit:hover {
  background-color: #acacac;
}

.btn--delete {
  background-color: #f9a0a0;
}

.btn--delete:hover {
  background-color: #ff6767;
}
